{{define "main" }}
<article>
  <header class="mb-4 bg-primary-600">
    <span class="py-96">
      <h1 class="py-16 text-5xl font-black text-center text-white capitalize">
        {{ .Title }}
      </h1>
    </span>
  </header>
  <div class="max-w-4xl mx-auto mt-8 mb-2">
    <div class="px-6">
      {{ with .Params.featured_image }}
      {{ with resources.Get . }}
      {{ $small := (.Resize "400x webp q80").RelPermalink }}
      {{ $medium := (.Resize "550x webp q80").RelPermalink }}
      {{ $large := (.Resize "900x webp q80").RelPermalink }}
      {{ $featuredimage := (.Resize "1500x webp q80").RelPermalink }}
      <img src="{{ $featuredimage }}" srcset="
        {{- with $small -}}, {{.}} 400w{{- end -}}
        {{- with $medium -}}, {{.}} 550w{{- end -}}
        {{- with $large -}}, {{.}} 768w{{- end -}}
        {{- with $featuredimage -}}, {{.}} 1100w{{- end -}}"
           class="object-fill overflow-hidden rounded-lg shadow-lg ring-4 ring-zinc-300/40 dark:ring-gray-900/40 shadow-neutral-100/20 dark:shadow-neutral-800/40"
           width="100%" alt="{{ .Params.title }}" />
      {{ end }}
      {{ end }}
    </div>
  </div> 
  <div class="pt-6  max-w-4xl grid grid-cols-6 gap-4 prose dark:prose-invert dark:text-white mx-auto">
    <div class="col-span-2 bg-slate-600 p-1 rounded-2xl mb-4 prose-p:text-white  prose-headings:text-white prose-strong:text-white prose-a:text-white ">
        <div class="title text-center">
          <h2 class="mt-1">Event sponsor</h2>

            {{ $uoeb := resources.Get "images/pages/sponsor_uoeb.png" }}
            <a href="https://business-school.exeter.ac.uk/about/" target="_blank">
              <img imgh src="{{ $uoeb.RelPermalink }}" class="mt-1 w-60 h-auto p-2 rounded-lg bg-gradient-to-r from-white to-slate-200 mx-auto" alt="Okta Logo" loading="lazy" />
            </a>
            <p><strong>The University of Exeter Business School believes in leadership for a better world.</strong></p>
            <p>This ethos infuses everything we do, as we teach our students how to use sustainable and responsible business principles to become successful leaders.</strong></p>

          <h2 class="border-t-4 border-indigo-500 pt-3 mt-3">Track sponsor</h2>

            {{ $p1image := resources.Get "images/pages/sponsor_okta.png" }}
            {{ with $p1image }}
            {{ with .Resize (printf "%dx%d webp q90" .Width .Height) }}
              <a href="https://auth0.com/" target="_blank">
                <img imgh src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" class="mt-1 w-60 h-auto p-6 rounded-lg bg-gradient-to-r from-cyan-500 to-emerald-500 mx-auto" alt="Okta Logo" loading="lazy" />
              </a>
              <p><strong>Secure access for everyone.<br/> But not just anyone.</strong></p>
              <p>Auth0 is an easy to implement, adaptable authentication and authorization platform. Basically, we make your login box awesome.</p>
            {{ end }}
            {{ end }}

          <h2 class="border-t-4 border-indigo-500 pt-3 mt-3">Sponsor</h2>

          {{ $p1image := resources.Get "images/pages/sponsor_nexusmods.png" }}
          {{ with $p1image }}
          {{ with .Resize (printf "%dx%d webp q90" .Width .Height) }}
            <a href="https://nexusmods.com/" target="_blank">
              <img imgh src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" class="mt-1 w-60 h-auto p-6 rounded-lg bg-gradient-to-r from-slate-300 to-slate-600 mx-auto" alt="Okta Logo" loading="lazy" />
            </a>
            <p><strong>One of the most popular gaming websites</strong></p>
            <p>Since 2001 we have made it our mission to provide a platform for people around the world to share their mods and tools freely with other gamers in a positive and inclusive community.</p>
          {{ end }}
          {{ end }}


            <h2 class="border-t-4 border-indigo-500 pt-3 mt-3">Special thanks to</h2>

            {{ $p1image := resources.Get "images/pages/pydata_exeter_logo.png" }}
            {{ with $p1image }}
            {{ with .Resize (printf "%dx%d webp q90" .Width .Height) }}
              <a href="https://www.meetup.com/pydata-exeter/" target="_blank">
                <img imgh src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" class="w-60 h-auto p-2 rounded-lg bg-white mx-auto" alt="Pydata Logo" loading="lazy" />
              </a>
            {{ end }}
            {{ end }}
            <p><strong>PyData Exeter is a meetup group for those working with or interested in working with data in Python.</strong></p>
            <p>PyData Exeter is part of the global PyData network that is an educational program of NumFOCUS, a nonprofit charity promoting open practices in research, data, and scientific computing. </p>
            
            
            {{ $p1image := resources.Get "images/pages/T4GSW-Text-Green.png" }}
            {{ with $p1image }}
            {{ with .Resize (printf "%dx%d webp q90" .Width .Height) }}
              <a href="https://tech4goodsouthwest.org/"  target="_blank">
                <img imgh src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" class="w-60 h-auto p-2 rounded-lg  bg-gradient-to-r from-white to-slate-200 mx-auto" alt="Pydata Logo" loading="lazy" />
              </a>
            {{ end }}
            {{ end }}
            <p>Tech4Good South West is a community network focused on fostering technology innovation to address social challenges, while ensuring everyone has the skills and opportunities to thrive in a digital world.</p>
        </div>
    </div>
    <div class="col-span-4">
      <div class="px-6 pt-6 pb-4">
        {{.Content}}
      </div>
    </div>
  </div>
</article>
{{end}}