{{ $bg := "" }}
{{ if eq .Params.track "tech"  }}
{{    $bg = "bg-indigo-700" }}
{{ else if eq .Params.track "data" }}
{{    $bg = "bg-cyan-700" }}
{{ else if eq .Params.track "digital" }}
{{    $bg = "bg-rose-700" }}
{{ end }}

<span class="rounded-lg bg-indigo-500 text-white p-1 px-2 mr-2">
  {{ if .Params.slot_length }}{{ .Params.slot_length }} min {{ end }}
  {{ .Params.slot_type }}
</span>

{{ if .Params.slot_level }}
  <span class="rounded-lg bg-indigo-500 text-white p-1 px-2">{{ if eq .Params.slot_level 1 }}
  Entry level
  {{ else if eq .Params.slot_level 2 }}
  🌶️ Intermediate
  {{ else if eq .Params.slot_level 3 }}
  🌶️🌶️ Advanced
  {{ end }}</span>
{{ end }}

{{ if eq .Params.track "tech" }}
<span class="tag track rounded-lg {{ $bg }} text-white p-1 px-2 ml-2 text-nowrap">
⌨️ Tech + Software
</span>
{{ else if eq .Params.track "data" }}
<span class="tag track rounded-lg {{ $bg }} text-white p-1 px-2 ml-2 text-nowrap">
🤖 Data + AI
</span>
{{ else if eq .Params.track "digital" }}
<span class="tag track rounded-lg {{ $bg }} text-white p-1 px-2 ml-2 text-nowrap">
🚀 Business + Digital
</span>
{{ end }}
