{{ define "main" }}
<main>
    <article>
        <header class="mb-4 bg-primary-600">
            <h1 class="py-4 text-5xl font-black text-center text-white capitalize">
                {{ .Title }}
            </h1>
        </header>

        {{ with .Content }}
        <div class="max-w-2xl px-6 mx-auto mt-6 prose dark:prose-invert dark:text-white">
            {{- . -}}
        </div>
        {{ end }}
        <h2 class="pt-4 text-5xl mt-8 font-black text-center text-white capitalize">
            Keynote
        </h2>
        {{ partial "keynote-template.html" . }}
        <h2 class="pt-4 text-5xl mt-8 font-black text-center text-white capitalize">
            Track Speakers
        </h2>
        {{ partial "speakers-template.html" . }}
        <p class="py-8 text-center text-white">
            Our speakers are still finalizing their talks - check back soon for a full list and our draft schedule!
        </p>
    </article>
</main>
{{ end }}